*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Google Sans Regular";
    text-decoration: none;
    list-style: none;
    
}

body{
    background: #fefefe;
}


header{
    width: 100%;
    height: 80px;
    background: #11101b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    position: fixed;
    z-index: 1000;
}

.logo{
    color: #fefefe;
    font-size: 28px;
    font-weight: bold;
}

.hamburguer{
    display: none;
}
.logo a{
    color: inherit;
    text-decoration: none;
}

.nav-bar ul{
    display: flex;
}

.nav-bar ul li a{
    display: block;
    color: #fefefe;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;

}

.nav-bar ul li a:hover{
    background: #fefefe;
    color: #11101b;
}

.nav-bar ul li a.active{
    color: #11101b;
    background: #fefefe;
}

footer{
    background-color: #11101b;
}
.footer-Container{
    width: 100%;
    padding: 70px 30px 20px ;
}
.social-icons{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.social-icons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.social-icons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}

.social-icons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.social-icons a:hover i{
    color: white;
    transition: 0.5s;
}
.footer-nav{
    margin: 30px 0;
}
.footer-nav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footer-nav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}
.footer-nav ul li a:hover{
    opacity: 1;
}
.footer-bottom{
    background-color: #11101b;
    padding: 20px;
    text-align: center;
}
.footer-bottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

section{
    width: 100%;
    height: 100vh;
    position: relative;
}

section div.background-section{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

section div.box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 1;
    width: 100%;
    text-align: center;
}

section div.box .text p{
    color:white;
    font-size: 50px;
    line-height: 60px;
    margin-left: 60%;
    white-space: nowrap;
}

section div.box .text button {
    margin-left: 60%;
    height: 50px;
    width: 150px;
    border-radius: 15px; 
    color: white;
    background-color: red;
}


section div.box .conteudo img{
    width: 50%;
    min-width: 300px;
    object-fit: cover;
    object-position: center;
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.conteudo {
    text-align: center;
    max-width: 50%;

}

.conteudo img {
    max-width: 100%; 
    height: auto; 
    border-radius: 50%;
}
.red-text {
    color: red;
}

#skills{
   padding-top: 100px;
}

.skills{
    width: 500px;
    height: auto;
    margin: 60px auto;
    color: #fff;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.skills li{
    margin: 20px 0;
    padding: 10px;
}

.bar{
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bar span{
    float: left;
    height: 20px;
    background: linear-gradient(135deg, rgba(236, 0, 140, 1), rgba(252, 103, 103, 1)100%);
}

.html_span{
    width: 90%;
    animation: html 3s;
}

.css_span{
    width: 70%;
    animation: css 3s;
}

.php_span{
    width: 70%;
    animation: php 3s;
}

.javascript_span{
    width: 60%;
    animation: javascript 3s;
}

.react_span{
    width: 50%;
    animation: react 3s;
}

.bootstrap_span{
    width: 60%;
    animation: bootstrap 3s;
}

@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

@keyframes php{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

@keyframes javascript{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}

@keyframes react{
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}

@keyframes bootstrap{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}

#sobre{
    background-image: url('imagens/tijolos_preto.jpg');
    background-size: cover;
    background-position: center;
    height: auto;
    width: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.sobre-text{
    border: 1px solid black;
    width: 40%;
    margin: auto;
    padding: 40px;
    text-align: justify;
    line-height: 30px;
    background-color: white;
    


}

#contactos{
    padding-top: 100px;
    margin: 0;
    box-sizing: border-box;
}

.contactos{
    background-color: #cfcfcf;
}

.mobile-image {
    width: 10%;
    height: auto;
}

.mobile-image-melodrop{
    width: 10%;
    height: auto;
    margin-left:16rem
}


.contact-container {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}



.contact-inputs{
width: 400px;
height: 50px;
border: none;
outline: none;
padding-left: 25px;
font-weight: 500;
color: black;
border-radius: 50px;
background-color: #fefefe;

}

.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;

}

.contact-inputs:focus{
    border:2px solid #e61919
}

.contact-inputs::placeholder{
    color: black;
    font-weight: 700;
}

.contact-left button{
    display:flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #Fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: #e61919
}

/* Projetos */


#projetos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0px;
    padding-top: 100px;
    min-height: 1000px;
    
}

.project-heading{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}


.project-heading h3{
    font-size: 2.7rem;
   font-weight: 600;
    color: #222222;
}

.project-heading span{
    color: #f33c3c;
}

.project-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: 1px solid rgba(237, 237, 237, 0.6);
    flex-wrap: wrap;
    margin: 20px;

}

.project-filter li{
    margin: 10px;
    padding: 5px 20px;
    color: #9b9b9b;
    font-size: 1rem;
    letter-spacing: 0.5px;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
}


.project-filter li:hover{
    transform: scale(1.1);
}


.project-filter-active{
    background-color: #f0f0f0;
    color: #272727;
}

.project-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.project-box{
    width: 330px;
    padding: 15px;
    border: 1px solid #eeeeee;
    margin: 20px;
    position: relative;
    
}


.project-box img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
    transition: transform 0.5s;
}

.layer{
    color: white;
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.project-box:hover img{
    transform: scale(1.1);
}

.project-box:hover .layer{
    height: 100%;
}





@media(max-width:740px){


    .project-filter{
    background-color: #f9f9f9;
    border: 1px solid rgba(0, 0, 0, 0.05);
    }

    .project-filter-active{
    background-color: #ffffff;
    border: 1px solid rgb(219, 219, 219);
    }

    .project-box{
    width:80%;
    }
}
@media(max-width:550px){



    .skills{
        width: auto;
    }


}


@media only screen and (max-width: 750px){
    #projetos{
        min-height: 700vh;
    }
}


@media (max-width: 500px) {
    .footer-nav ul li a {
        display: block;
    }

    #projetos{
        min-height: 250vh;
        
       }

}


@media (max-width: 700px){
    .footer-nav ul{
        flex-direction: column;
    } 
    .footer-nav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .social-icons a{
        padding: 8px;
        margin: 4px;
    }

}

@media only screen and (max-width: 1320px){

    header{
        padding: 0 50px;
    }

}

@media only screen and (max-width: 1100px){

    header{
        padding: 0 30px;
    }

}

@media only screen and (max-width: 900px){

   .hamburguer{
       display: block;
       cursor: pointer;
   }

   .hamburguer .line{
    width: 30px;
    height: 3px;
    background: #fefefe;
    margin: 6px 0;
   }

   .nav-bar{
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background: #11101b;
    transition: 0.5s;
    overflow: hidden;
    z-index: 1000;
   }

   .nav-bar.active{
    height: 450px;
   }

   .nav-bar ul{
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
   }

   .nav-bar.active ul{
    opacity: 1;
   }

   .nav-bar ul li a{
    margin-bottom: 12px;
    
   }

   .sobre-text{
    width: auto;
    }

    .sobre-text p{
    font-size: 10px;
    line-height: 15px;
    }

    .contact-inputs{
    width: 40vh;

    }

    .contact-container{
    padding-top: 50px;
    }

    .conteudo{
        
    scale: 0.5;
    margin-top: 500px;
    }

    .box{
    padding-bottom: 200px;
    margin-right: 100px;
    text-align: center;
    }

}

::-webkit-scrollbar-track {
    background: #11101b;
}

::-webkit-scrollbar-thumb {
    background:#aaaaaa;
}


::-webkit-scrollbar {
    width: 10px;
}